/** @format */
:root {
	--strong-cyan: hsl(172, 67%, 45%);
	--very-dark-cyan: hsl(183, 100%, 15%);
	--dark-grayish-cyan: hsl(184, 14%, 56%);
	--light-grayish-cyan-1: hsl(185, 41%, 84%);
	--light-grayish-cyan: hsl(189, 41%, 97%);
	--white: hsl(0, 0%, 100%);
}
html,
body {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Space Mono', monospace;
}
.App {
	font-family: 'Space Mono', monospace;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	background-color: var(--dark-grayish-cyan);
	width: 100%;
	height: 100vh;
	overflow-y: scroll;
}
.calculator-container {
	background-color: var(--white);
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	border: 1px solid rebeccapurple;
	border-radius: 20px;
	padding: 1rem;
}
@media only screen and (max-width: 600px) {
	.App {
		height: auto;
	}
	.calculator-container {
		flex-direction: column;
		align-content: center;
		justify-content: center;
	}
	.logo {
		margin: 2rem 0 5rem 0;
	}
}
